* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#timer, #result {
    text-align: center;
    margin-top: 20px;
}

#timer {
    font-size: 6em;
}

#result {
    font-size: 3em;
}